.text-lightish {
    color: rgb(209, 209, 209);
}

.movies-cont {
    padding: 7px;
}

.movie-details {
    margin-top: 10px;
}

.movie-description {
    margin-left: 10px;
}

.searchBox {
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    cursor: pointer;
}

#map {
    position:absolute!important;
    margin: 0;
    padding: 0;
    height: 400%;
    width: 100%;
  }