.text-lightish {
    color: rgb(209, 209, 209);
}

.movies-cont {
    padding: 7px;
}

.movie-cards {
    cursor: pointer;
}

.filter {
    margin-top: 10px;
}

.movies {
    border-color: rgb(7, 14, 9);
    border-style: solid;
}

.title {
    cursor: pointer;
}

#notAButton{
    visibility: hidden;
    display: inline-block
}

.input{
    display: inline-block;
}

