.text-lightish {
    color: rgb(209, 209, 209);
}

.movies-cont {
    padding: 7px;
}

.movie-details {
    margin-top: 10px;
}

.title {
    cursor: pointer;
}

#map {
    position:absolute!important;
    margin: 0;
    padding: 0;
    height: 400%;
    width: 100%;
  }